[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
pyscreenshot = "*"
opencv-python = "*"
pillow = "*"
face-recognition = "*"
keras = "*"
tensorflow = "*"
numpy = "*"

[requires]
python_version = "3.6"
